@charset "utf-8";

/* begin -- roll result -------------------------------------- */

#roll-result {
	display: none;
}

.roll-result-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	/*background: rgba(100, 65, 164, 0);*/
}

#roll-result>.roll-result-modal {
	/*background: rgba(100, 65, 164, 0.5);*/
	/*background: rgba(37, 25, 60, 0.5);*/
	/*transition: background .3s ease;*/
	animation: roll-result-modal-in .6s ease-out;
	animation-fill-mode: forwards;
}

@keyframes roll-result-modal-in {
	from {
		background: rgba(37, 25, 60, 0);
	}
	to {
		background: rgba(37, 25, 60, 0.5);
	}
}

.roll-result-inner {
	position: absolute;
	top: calc(50% + 15px);
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	width: 400px;
	height: 600px;
	/*height: 70%;*/
	opacity: 0;
	animation: roll-result-inner-in .3s ease-out;
	animation-fill-mode: forwards;
}

@media only screen and (max-height: 650px) {
	.roll-result-inner {
		height: 400px;
	}
}

#roll-result.standby .roll-result-inner {
	height: 48px;
}

#roll-result.active .roll-result-inner {
	transition: height .5s cubic-bezier(0.4, 0, 0.2, 1);
	padding: 12px;
	border-radius: 3px;
	box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2),
				0px 5px 12px rgba(0, 0, 0, 0.2);
}

@keyframes roll-result-inner-in {
	from {
		opacity: 0;
		top: calc(50% + 15px);
	}
	to {
		opacity: 1;
		top: 50%;
	}
}

.roll-result-inner>.header {
	position: relative;
	height: 120px;
	border-bottom: 1px dashed var(--color-gray-dark);
	transition: border 300ms ease;
}
#roll-result.standby .roll-result-inner>.header {
	border: transparent;
}

.roll-result-inner>.content {
	position: relative;
	height: calc(100% - 120px);
}

#roll-result.standby .header,
#roll-result.standby .content {
	overflow: hidden;
}
/*
.winner-id-wrap.standby {
	opacity: 0;
}
*/
.winner-nick-wrap,
.winner-id-wrap {
	position: relative;
	width: 100%;
	height: 48px;
	overflow: hidden;
}

.winner-nick-wrap {
	height: 48px;
}

.winner-id-wrap {
	height: 36px;
}
.winner-nick {
	font-size: 24px;
}
.winner-id {
	color: #a0a0a0;
	font-size: 16px;
}

.winner-nick,
.winner-id {
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	/*transform: translate(-50%, -50%);*/
	transform: translate(-50%, calc(-50% + 0.3px));
	opacity: 1;
	transition: opacity 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-delay: 0.6s;
	user-select: text;
}
/*
.winner-id {
	transform: translate(-50%, calc(-50% + 0.3px));
}
*/

/*#roll-result.standby .winner-nick,*/
#roll-result.standby .winner-id {
	opacity: 0;
	transition: none;
}

.winner-desc {
	width: 100%;
	height: 36px;
	position: relative;
	top: auto;
	overflow: hidden;
}

.winner-subscribe {
	transition: top 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-delay: 0.7s;
}
.winner-follow {
	transition: top 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-delay: 0.6s;
}
.winner-clock {
	transition: top 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-delay: 0.5s;
}
#roll-result.standby .winner-subscribe,
#roll-result.standby .winner-follow,
#roll-result.standby .winner-clock {
	top: 36px;
	transition: none;
}

.winner-send-message {
	position: absolute;
	top: 44px;
	left: 3px;
	text-align: center;
	color: var(--color-theme);
	width: 48px;
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
	/*transition: left 400ms cubic-bezier(0.22, 0.61, 0.36, 1);*/
	transition: opacity 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
#roll-result.standby .winner-send-message {
	/*left: -60px;*/
	opacity: 0;
}

.winner-send-message:hover {
/* 	background: #f7f2ff; */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease;
}
.winner-send-message i {
	font-size: 18px;
	color: var(--color-theme);
	line-height: 36px;
}
.winner-send-message a {
	width: 100%;
	height: 100%;
	display: block;
}
.winner-send-message a::after {
	content: 'Send';
	color: var(--color-theme);
	display: block;
	position: absolute;
	top: calc(50% + 10px);
	left: 50%;
	width: 36px;
	transform: translate(-50%, -50%);
	transition: opacity .2s ease;
	opacity: .2;
}
.winner-send-message a:hover::after {
	opacity: .7;
}

#roll-result .close-button {
	background: var(--color-red);
	width: 36px;
	height: 36px;
	position: absolute;
	top: 0;
	right: calc(-36px - 12px);
	text-align: center;
	cursor: pointer;
	transition: transform .2s ease,
				opacity 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
	/*transition-delay: 0.5s;*/
}
#roll-result.standby .close-button {
	opacity: 0;
}
#roll-result .close-button::before {
	color: white;
	content: '\00d7';
	font-size: 24px;
	line-height: 32px;
}
#roll-result .close-button:hover {
	transform: translate(0, -2px);
}

.winner-subscribe,
.winner-follow {
	position: absolute;
	top: 12px;
	width: 48px;
	text-align: center;
	font-weight: bold;
	color: #eaeaea;
	cursor: not-allowed;
}

.winner-subscribe {
	left: calc(6px + 0px);
}

.winner-subscribe::before {
	content: '구독자';
	font-size: 12px;
}

.winner-subscribe.is-subscriber {
	color: #FF9800;
	cursor: pointer;
	text-shadow: -1px 1px 0px rgba(76, 175, 80, .2);
}

.winner-follow {
	left: calc(6px + 48px);
}

.winner-follow::before {
	content: '팔로워';
	font-size: 12px;
}
.winner-follow.question-mark::before {
	content: '갱신실패';
	color: #868482;
	cursor: help;
	font-size: 12px;
}

.winner-follow.is-follower {
	color: #4CAF50;
	cursor: pointer;
	text-shadow: -1px 1px 0px rgba(255, 152, 0, .2);
}

.winner-clock[data-minutes][data-seconds] {
	position: absolute;
	top: 12px;
	right: 12px;
	text-align: right;
	width: 120px;
	height: 24px;
	font-size: 16px;
}

.winner-clock[data-minutes][data-seconds]::before {
	content: attr(data-minutes);
}

.winner-clock[data-minutes][data-seconds]::after {
	content: ' : ' attr(data-seconds);
}

.winner-chat {
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	margin: 12px 6px;
	overflow-x: hidden;
	overflow-y: auto;
}

#roll-result.standby .on-empty-tooltip {
	opacity: 0 !important;
	transition: none;
}
.on-empty-tooltip {
	pointer-events: none;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 12px;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	opacity: 0;
	transition: opacity 300ms ease;
}
.winner-chat.empty+.on-empty-tooltip {
	opacity: 1;
	transition-delay: 1s;
}
.on-empty-tooltip::before {
	content: '\F1E8';
	font-family: 'fontello';
	margin: 0px 4px;
	color: #a98cde;
	color: #e6e3ea;
}
.on-empty-tooltip::after {
	content: '당첨자의 채팅이 이 곳에 표시됩니다';
	color: #c7b0f1;
	color: #e6e3ea;
}

.winner-chat::-webkit-scrollbar {
	width: 4px;
}
 
.winner-chat::-webkit-scrollbar-track {
	background: #f5f5f5;
}
 
.winner-chat::-webkit-scrollbar-thumb {
	background-color: #ebe1ff;
	outline: 1px solid #ebe1ff;
}

.conversation {
	--color-chat-bg: #ebe1ff;
}
.winner-chat .conversation {
	position: relative;
	padding-top: 24px;
	padding-left: calc(48px + 12px + 12px);
	padding-bottom: 24px;
	padding-right: 6px;
	max-width: 290px;
	display: block;
}
/*
.conversation img.profile {
	width: 48px;
	height: 48px;
	border-radius: 3px;
	position: absolute;
	top: -6px;
	left: calc(-48px - 12px - 6px);
}
*/

.conversation div.profile {
	width: 48px;
	height: 48px;
	border-radius: 5px;
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: #B2EBF2;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	animation: conversation-profile-in .4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.conversation .text {
	/*padding: 6px 12px;*/
	padding: 8px 12px;
	border-radius: 7px;
	word-wrap: break-word;
	/* overflow: hidden; */
	border-radius: 7px;
	background: var(--color-chat-bg);
	box-shadow: 2px 2px 1px rgba(94, 0, 255, 0.2);
	display: inline-block;
	position: relative;
	user-select: text;
	animation: conversation-text-in .4s cubic-bezier(0.22, 0.61, 0.36, 1);
	text-shadow: 1px 1px 1px rgba(121, 85, 72, 0.2);
}
.conversation .text::before {
	content: '';
	width: 12px;
	height: 11px;
	background: var(--color-chat-bg);
	position: absolute;
	top: 9px;
	left: -3px;
	transform: rotate(-30deg) skew(30deg);
	z-index: 1;
}

.conversation .text img.emoticon {
	margin: -5px 0;
	vertical-align: middle;
	display: inline-block;
	max-height: 28px;
}

.conversation .timestamp {
	position: absolute;
	top: 4px;
	left: 72px;
	font-size: 12px;
}

@keyframes conversation-profile-in {
	from { opacity: 0; transform: translate(0, -12px); }
	to { opacity: 1; }
}

@keyframes conversation-text-in {
	from { opacity: 0; transform: translate(12px, 0); }
	to { opacity: 1; }
}


.tts-button {
	background: #2196F3;
	cursor: pointer;
	position: absolute;
	width: 36px;
	height: 36px;
	top: 0px;
	right: calc(-36px - 12px);
	text-align: center;
	transition: transform .2s ease,
				opacity 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
	/*transition-delay: 0.5s;*/
}
#roll-result.standby .tts-button {
	opacity: 0;
}

.tts-button::before {
	content: '\f1f7';
	font-family: 'fontello';
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 18px;
	transform: translate(-50%, -50%);
}

.tts-button.active::before {
	content: '\e824';
	font-family: 'fontello';
}

.tts-button:hover {
	transform: translate(0, -2px);
}
/*
.tts-button>i {
	line-height: 36px;
	color: white;
	font-size: 16px;
	display: block;
}*/


.winner-nick::before,
.candidate::before {
	content: '';
	display: inline-block;
	vertical-align: bottom;
	top: 0px;
	left: 0;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	background-size: 24px;
	margin-right: 4px;
}
.winner-nick.non-subscriber::before,
.candidate.non-subscriber::before {
	content: none;
}

/* --- anim --------- */

.candidate-wrap {
	background: white;
	position: absolute;
	height: 48px;
	width: 100%;
	top: 12px;
	left: 0;
	overflow: hidden;
	text-align: center;
	opacity: 1;

	animation-name: fadeout;
	animation-delay: 4.5s;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.candidate-inner {
	width: 100%;

	animation-name: slotmachine;
	animation-delay: 0s;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	transform: translate(0, calc(-48px * 0));
}
.candidate {
	font-size: 24px;
	white-space: nowrap;
	padding: 8px 0px;
	height: 32px;
	line-height: 32px;
}
.candidate:last-child {
	animation-name: bouncy;
	animation-delay: 4s;
	animation-duration: 300ms;
	animation-fill-mode: backwards;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes bouncy {
	0% { transform: translate(0, 0%) scale(1, 1); }
	25% { transform: translate(0, 10%) scale(1.2, .8); }
	50% { transform: translate(0, 0%) scale(1, 1); }
	75% { transform: translate(0, -10%) scale(.8, 1.2); }
	100% { transform: translate(0, 0%) scale(1, 1); }
}

@keyframes slotmachine {
	from {
		transform: translate(0, calc(-48px * 0));
	}
	to {
		transform: translate(0, calc(-48px * calc(120 - 1)));
	}
}
@keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}


/* end -- roll result -------------------------------------- */

@keyframes fadein-from-bottom-tc {
	from { opacity: 0; transform: translate(-50%, 50%); }
	to {}
}



/* ---------- */

#roll-result .menu-wrap {
	display: none;
	position: absolute;
	top: 10px;
	right: 0px;
	font-size: 14px;
	padding-top: 32px;
	overflow: hidden;
	opacity: 0;
	max-width: 32px;
	max-height: 0px;
	z-index: 3;
}
#roll-result .menu-wrap * {
	font-size: 14px;
}
#roll-result:not(.standby) .menu-wrap:hover {
	max-width: 1000px;
	max-height: 1000px;
	/*transition: max-height 1.5s ease-out;*/
}
#roll-result:not(.standby) .menu-wrap {
	display: block;
	animation: fadein 1s ease-out;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

#roll-result .menu-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}
#roll-result .menu-wrap:hover .menu-button {
	background: #f0f0f0;
}
#roll-result .menu-button>i {
	color: #9e9e9e;
	font-size: 14px;
}
#roll-result .menu {
	border: 1px solid #9e9e9e;
	background: #f9f9f9;
	border-radius: 3px;
}
#roll-result .menu>* {
	position: relative;
	display: block;
	padding: 12px 24px;
	cursor: pointer;
	white-space: nowrap;
}
#roll-result .menu>*:hover {
	background: #dedede;
}
#roll-result .menu>*:not(:first-child) {
	border-top: 1px solid #f0f0f0;
}

#roll-result .menu>*:first-child {
	border-radius: 3px 3px 0 0;
}
#roll-result .menu>*:last-child {
	border-radius: 0 0 3px 3px;
}

/* ----------------------------- */


li.conversation.last-chat {
	margin-bottom: 28px;
	opacity: 0;
}

#roll-result:not(.standby) li.conversation.last-chat {
	animation: fadein 1s ease-out;
	/*animation-delay: 1s;*/
	animation-fill-mode: forwards;
}

li.conversation.last-chat .text {
	filter: grayscale(90%);
	opacity: .7;
}

li.conversation.last-chat .profile {
	filter: grayscale(90%) sepia(10%);
	opacity: .5;
}

li.conversation.last-chat::after {
	/*content: '▲ 당첨 발표 이전의 채팅입니다';*/
	content: '\f139\a0 당첨 발표 이전의 마지막 채팅입니다';
	font-size: 12px;
	font-family: 'fontello';
	position: absolute;
	bottom: -20px;
	background: rgba(0, 0, 0, 0.04);
	color: #8e8e8e;
	padding: 3px 48px;
	width: 240px;
	border-radius: 10px;
	left: 28px;
	text-align: center;
}